.enlace:hover { 

 	background-color:#618fcc; 

}

.sub-elemento:hover {
 	background-color:#618fcc; 
}

.sub-elemento2:hover {
 	background-color:#618fcc; 
}

.condiciones:hover {
	color:#ff9910; 
}

.link-art-uno:hover {
	background:#618fcc;
}

.link-art-dos:hover {
	background:#618fcc;
}
